.listing {
    max-width: 600px;
    padding: 15px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

.buttonDelete {
    margin-right: 10px;
}

.linkText {
    font-family: inherit;
    font-weight: 500;
    font-size: 25px;
}